$mainFont: 'Red Hat Text', sans-serif;

$mainFontSize: 16px;
$mainFontColor: #000;
$mainLineHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;