.item-details{
  background-color: #fff;
  .list-title{
    font-weight: 700;
    min-width: 7rem;
    display: block;
    margin-right: 0.8rem;
  }
  .item-desc{
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    a{
      color: rgb(26, 118, 134);
    }
    &:last-child{
      margin-right: 0;
      &:after{
        content: "";
      }
    }
    &:after{
      content: ",";
    }
  }
  .charecter_not_choose{
    padding: 25px 30px;
    font-size: 1.2rem;
    text-align: center;
  }
  .list-group-item{
    max-width: 100%;
  }
}