.header {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  .navbar {
    border: 1px solid rgb(46, 67, 114);
    border-radius: 0.4rem;
    padding: 0.2rem 1rem;
  }
  h1 {
    margin-bottom: 0;
  }
}