@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  font-family: $mainFont;
  min-height: 100vh;
}

.container-fluid {
  max-width: 800px;
}
.wrapper {
  min-width: 320px;
  min-height: 100vh;
  background: #1e5799;
  background: linear-gradient(to bottom, #a7cae5 0%,#c5d6e2 100%);
  display: flex;
  flex-direction: column;
  .header {
    flex-grow: 0;
    flex-basis: auto;
  }
  .main {
    flex-grow: 1;
    flex-basis: auto;
  }
}
