.item-menu {
  margin-bottom: 30px;
  .item-title{
    font-size: 0.8rem;
    font-weight: 700;
  }
  .item-desc{
    font-size: 0.8rem;
    margin-left: 10px;
  }
  .item-paging{
    margin-top: 10px;
  }
}